.dashboard {
    width: 100%;
    margin-top: 75px;

    h1 {
        font-size: 3rem;
        font-weight: 600;
        color: #333;
        margin: 1.5rem auto 1rem auto;
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
    }

    tr {
        border-bottom: 1px solid #d9d9d9;
    }

    th {
        font-weight: 600;
        padding: 8px 0;
        white-space: nowrap;
        border: 1px solid #d9d9d9;
    }

    td {
        max-width: 200px;
        padding: 8px 0;
        height: fit-content;
        border: 1px solid #d9d9d9;
    }

    input[type="checkbox"] {
        all: unset;

        &+label {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin: 6px auto;
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }

        &:checked+label {
            background-color: var(--blue);
            border: 1px solid var(--blue);
        }
    }
}